/*个人简介*/
.about_me {
    background-color: whitesmoke;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px black;
    padding: 30px;
    margin: 30px auto;
}

/*内容区域*/
.about_content {
    width: 60%;
}

/*照片区域*/
.about_picture {
    width: 30%;
    justify-content: center;
    padding: 20px;
}

/*照片大小*/
.my_photo {
    width: 100%;
    height: 80%;
}

/*职业*/
.profession {
    color: gray;
    font-size: 20px;
}

/*社交图标*/
.social {
    padding: 8px;
    border-radius: 50%;
}

.social:hover {
    background-color: black;
}


/*关于本站*/
.about_web {
    background-color: whitesmoke;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 5px black;
    padding: 30px;
    margin: 30px auto;
}

/*介绍字体*/
.about_introduce {
    font-size: 20px;
    line-height: 30px;
}

/*标题下划线*/
.about_menu {
    width: 150px;
    text-align: center;
    color: skyblue;
    padding: 0px 0px 8px 0px;
    border-bottom: solid 2px skyblue;
}

