html {
    height: 100%;
}
body {
    background-color: skyblue;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/*头部盒模型*/
.head {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

/*Logo*/
.top_logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px 30px;
    transition: all 2.0s;
}

.top_logo:hover {
    transform: rotate(360deg);
}

/*顶部标题*/
.top_title {
    color: white;
    text-decoration: none;
    font-style: italic;
}

/*顶部标题悬停效果*/
.top_title:hover {
    color: gray;
}

/*导航栏*/
.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}

/*导航菜单*/
.menu {
    color: white;
    text-decoration: none;
    padding: 5px 40px;
}

/*导航菜单悬停效果*/
.menu:hover {
    background-color: white;
    color: black;
}

.page {
    flex: 1;
    width: 100%;
}


/*页脚盒模型*/
.foot {
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 2px 0px;
}

/*页脚信息*/
.foot_message {
    color: white;
    font-size: 15px;
}

/*备案信息*/
.record {
    color: white;
    text-decoration: none;
}

/*备案信息悬停效果*/
.record:hover {
    color: orange;
}

/*搜索框*/
.search {
    width: 200px;
    height: 35px;
    margin: 0px 5px 0px 50px;
    padding: 0px;
    border-radius: 15px;
}

/*搜索键*/
.search_button {
    width: 80px;
    height: 35px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}

.search_button:hover {
    background-color: white;
    color: black;
}
