.article {
    width: 70%;
    margin: 0px auto;
    padding: 50px;
}

/*文章信息*/
.article_message {
    color: gray;
}

/*返回键*/
.back {
    text-decoration: none;
    color: black;
    border: 2px black solid;
    padding: 5px 10px;
}

.back:hover {
    background-color: black;
    color: white;
}

.eye {
    vertical-align: middle;
}
