{% load blog_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">
</head>
<body>
    <div class="head">
        {% include "header.html" %}
    </div>
  
    <div class="page">
        <div class="side">
            <div class="about">
                
            </div>

            <div class="category">
                {% show_categories %}
            </div>  

            <div class="tags">
                {% show_tags %}
            </div>

            <div class="archive">
                {% show_archives %}
            </div>
        </div>

        <div class="content">
            {% block content %} {% endblock content %}
        </div>
        
    </div>

    <div class="foot">
        {% include "footer.html" %}
    </div>
</body>
</html>