{% load blog_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">
</head>
<body>
    <div class="head">
        {% include "header.html" %}
    </div>
  
    <div class="page">
        {% block content %} {% endblock content %}
    </div>

    <div class="foot">
        {% include "footer.html" %}
    </div>
    <script src="https://cdn.bootcss.com/highlight.js/9.15.8/highlight.min.js"></script>
    <script src="https://cdn.bootcss.com/highlightjs-line-numbers.js/2.7.0/highlightjs-line-numbers.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
        hljs.initLineNumbersOnLoad();
    </script>
</body>
</html>