<link rel="stylesheet" href="/static/css/detail.css" type="text/css">

{% extends "base2.html" %}

{% block content %}
    <div class='article'>
        <h1 class="article_title">{{post.title}}</h1>
        <p class="article_message">
            {{post.create_time}}发布 | 分类：{{post.category}} | <img src="/static/images/eye.png" alt="eye" class="eye"> {{ post.views }}
        </p>

        <br>

        <div class="article_content">
            {{post.body | safe}}
        </div>
        
        <br>
        
        <p>
            <a href="/" class="back">« 返回首页</a>
        </p>
    </div>
{% endblock content %}