<link rel="stylesheet" href="/static/css/index.css" type="text/css">

{% extends "base.html" %}

{% block title %} 首页 - 刘小备_Blog {% endblock title %}

{% block content %}
    {% for post in post_list %}
        <div class="article_card"> 

            <div class="article_message">
                <h2><a href="/posts/{{post.pk}}" class="title">{{post.title}}</a></h2>
            
                <p class='about'>
                    {{post.about}}
                </p>

                <p class="message">
                    {{post.create_time}}发布 | 分类：{{post.category}} | <img src="/static/images/eye.png" alt="eye" class="eye"> {{ post.views }}
                </p>
            </div>

            <div class="article_avatar">
                <img src=/{{post.picture}} alt="文章配图" width="250" height="125" class="avatar">
            </div>

        
        </div>
    {% endfor %}
    

{% endblock content %}