<link rel="stylesheet" href="/static/css/menu.css" type="text/css">

<div class="menu">

    <!-- 头像 -->
    <img src="/static/images/head.jpg" alt="头像" class="head">

    <!-- 网站标题 -->
    <h2 class="web_title"><a href="/" class="blog_title">刘小备_Blog</a></h2>

    <!-- 导航菜单 -->
    <a href={% url 'index' %} title="主页" class="list"><i class="fa fa-home" id="list-icon"></i></a>
    <a href={% url 'archive' %} title="时间轴" class="list"><i class="fa fa-clock-o" id="list-icon"></i></a>
    <a href={% url 'link' %} title="友情链接" class="list"><i class="fa fa-link" id="list-icon"></i></a>
    <a href={% url 'comment' %} title="留言板" class="list"><i class="fa fa-pencil" id="list-icon"></i></a>
    <a href={% url 'about' %} title="关于" class="list"><i class="fa fa-address-card" id="list-icon"></i></a>


    <!-- 个人介绍 -->
    <p class="introduce">
        这个世界上其实并没有所谓的最正确的选择，而我们也只有更加努力奋斗，才能使当初的选择变得正确。
    </p>

    <!-- 搜索 -->
    <div class="search">
        <form class="form-inline" action={% url 'search' %} method="GET" role="search" >
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" style="border-radius: 30px;">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>



</div>
